@model Shopping.Model.Entities.Address
@{
    ViewData["Title"] = "Checkout";
}

<main class="site-main checkout">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><a href="#">Home </a></li>
            <li class="active"><a href="#">checkout</a></li>
        </ol>
    </div>
    <div class="container">
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()

            

                <h4 class="title-checkout">Fatura Adresi</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Adınız*</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adınız" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Soyadınız*</label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Soyadınız" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">E-Posta:</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-posta Adresiniz" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Telefon Numarası*</label>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefon numaranızı lütfen 10 Hane olarak giriniz." } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Adres:</label>
                                @Html.EditorFor(model => model.AddressDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Adınız" } })
                                @Html.ValidationMessageFor(model => model.AddressDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Ülke*</label>
                                @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.Countries, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Posta Kodu:</label>
                                <input type="text" class="form-control" placeholder="Posta Kodunuz">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-6">
                                <label class="title">Şehir*</label>
                                <input type="text" class="form-control" placeholder="Şehir">
                            </div>
                        </div>
                    </div>


                    <div class="form-group shipping col-md-6">
                        <ul>
                            <li><label class="inline"><input type="checkbox"><span class="input"></span>Hesap Oluştur</label></li>
                            <li><label class="inline"><input type="checkbox"><span class="input"></span>Kargo adresiniz farklı mı ?</label></li>
                        </ul>
                        <h4 class="title-checkout">Gönderim Şekli</h4>
                        <p>Flat Rate</p>
                        <p>Fixed $50.00</p>
                        <h4 class="discount">İndirim Kuponu</h4>b
                        <label class="title">Kupon kodunu giriniz:</label>
                        <input type="text" class="form-control">
                        <button type="submit" class="btn-apply">Kaydet</button>
                    </div>


                    <div class="form-group payment col-md-6">
                        <h4 class="title-checkout">Ödeme Şekli</h4>
                        <ul>
                            <li><label class="inline"><input type="checkbox"><span class="input"></span>Havale/EFT</label></li>
                            <li><label class="inline"><input type="checkbox"><span class="input"></span>Kapıda Ödeme</label></li>
                        </ul>
                        <span class="grand-total">Toplam Tutar<span>$100.00</span></span>
                        <button type="submit" class="btn-order">Sipariş ver</button>
                    </div>



                </div>
           
         }
    </div>
</main>
