@model List<Shopping.Service.Queries.WishlistQuery>
@{

    ViewData["Title"] = "WishList";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="/stylesheet" type="text/css" href="css/animate.css">
    <link rel="/stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="/stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="/stylesheet" type="text/css" href="css/pe-icon-7-stroke.css">
    <link rel="/stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="/stylesheet" type="text/css" href="css/chosen.css">
    <link rel="/stylesheet" type="text/css" href="css/jquery.bxslider.css">
    <link rel="/stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,700i" rel="/stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="/stylesheet">
</head>
<body class="page-product">
    <div class="wrapper">
        <form id="block-search-mobile" method="get" class="block-search-mobile">
            <div class="form-content">
                <div class="control">
                    <a href="#" class="close-block-serach"><span class="icon fa fa-times"></span></a>
                    <input type="text" name="search" placeholder="Search" class="input-subscribe">
                    <button type="submit" class="btn search">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </button>
                </div>
            </div>
        </form>
        <!-- HEADER -->
        <!-- MAIN -->
        <main class="site-main shopping-cart">
            <div class="container">
                <ol class="breadcrumb-page">
                    <li><a href="@Url.Action("Index","Home")">Anasayfa </a></li>
                    <li class="active"><a href="@Url.Action("WishList","Shop")">Favorilerim</a></li>
                </ol>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-cart">
                            <div class="table-cart">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="tb-image"></th>
                                            <th class="tb-product">Ürün Adı</th>
                                            <th class="tb-price">Ürün Fiyatı</th>
                                            <th class="tb-qty">Adet</th>
                                            <th class="tb-total">Toplam ücret</th>
                                            <th class="tb-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="tb-image"><a href="" class="item-photo"><img src="/image/cart1.jpg" alt="cart"></a></td>
                                                <td class="tb-product">
                                                    <div class="product-name"><a href="">@item.Name</a></div>
                                                </td>
                                                <td class="tb-price">
                                                    <span class="price">@item.NewPrice TL</span>
                                                </td>
                                                <td class="tb-qty">
                                                    <div class="quantity">
                                                        <div class="buttons-added">
                                                            <input type="text" value="@item.Quantity" title="Qty" class="input-text qty text" size="1">
                                                            <a href="#" class="sign plus"><i class="fa fa-plus"></i></a>
                                                            <a href="#" class="sign minus"><i class="fa fa-minus"></i></a>
                                                        </div>
                                                    </div>
                                                </td>

                                                @{ 
                                                    decimal totalPrice = item.Quantity * item.NewPrice;
                                                }


                                                <td class="tb-total">
                                                    <span class="price">@totalPrice</span>
                                                </td>
                                                <td class="tb-remove">
                                                    <a href="" class="action-remove"><span><i class="fa fa-times" aria-hidden="true"></i></span></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            @*<div class="cart-actions">
                                <button type="submit" class="btn-continue">
                                    <span>Continue Shopping</span>
                                </button>
                                <button type="submit" class="btn-clean">
                                    <span>Update Shopping Cart</span>
                                </button>
                                <button type="submit" class="btn-update">
                                    <span>Clear Shopping Cart</span>
                                </button>
                            </div>*@
                        </form>
                    </div>

                </div>
            </div>
            

        </main>
    </div>
</body>

